/**
* Created by Aidan Catriel
* Information and images retrieved from https://api.nasa.gov/
**/

html{
    background-size:initial;
    /* Image taken from esahubble.org*/
    background-image: url("../Images/Space.jpg");
    color: white;
}

h1 {
    text-align: center;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.15em;
    
}
h2 {
    text-align: center;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

#content {
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    background-color: #5198b66e;
    color: black;
    font-size: larger;
    backdrop-filter: blur(5px);
}

#content * {
    margin: 1em;
    padding: 0.5em;
    min-width: 20%;
    mix-blend-mode:initial;
}

#imageHolder * {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#copyright {
    margin: 0.5em;
    font-size: initial;
}

hr {
    margin: 0px;
}

#buttonList {
    max-width: 30%;
}
#buttonList button{
    margin: 0;
    background-color: #d2b73e;
    text-align: center;
    width: 100%;
    border-radius: 8px;
}

#buttonList button:hover {
    background-color: #b8a035;
}

footer {
    text-align: center;
    margin: 1.5em;
}
footer p {
    margin: 0.5em;
}
